.forum__topics {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url("../img/date_info_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	.title {
		font-size: 48px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		font-style: normal;
		text-align: center;
		text-transform: uppercase;
		padding: 0;
		margin: 0;
		margin-bottom: 50px;
		color: #fff;
	}
	.topics__item {
		width: 100%;
		height: 262px;
		border-radius: 50%;
		border: 3px solid #b88f40;
		color: #e7b85c;
		margin-bottom: 30px;
		text-align: center;
		display: flex;
		align-items: center;
		cursor: pointer;
		-webkit-transition: all .45s;
		-o-transition: all .45s;
		transition: all .45s;
		&:hover {
			background-color: #b88f40;
			color: #fff;
		}
		.text {
			font-size: 18px;
			font-weight: bold;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2.5px;
		}
	}
}